# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [1]:
import pandas as pd

# URL of the CSV file
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Read the CSV file into a DataFrame
df_customers = pd.read_csv(url)

# Display the first few rows of the DataFrame
print(df_customers.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [2]:
import pandas as pd

# URL of the CSV file
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Read the CSV file into a DataFrame
df_customers = pd.read_csv(url)

# Display the original column names
print("Original column names:")
print(df_customers.columns)

# Standardize the column names
df_customers.columns = df_customers.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state')

# Display the standardized column names
print("\nStandardized column names:")
print(df_customers.columns)

Original column names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Standardized column names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

In [7]:

# Standardize the column names to lower case
df_customers.columns = df_customers.columns.str.lower()

# Display the standardized column names
print("\nStandardized column names:")
print(df_customers.columns)

Standardized column names:
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')

In [9]:
#Standardize the column names: lower case and replace white spaces with underscores
df_customers.columns = df_customers.columns.str.lower().str.replace(' ', '_')
print(df_customers.columns)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [10]:
#Standardize the column names: lower case, replace white spaces with underscores, and replace 'st' with 'state'
df_customers.columns = df_customers.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state')

# Display the standardized column names
print("\nStandardized column names:")
print(df_customers.columns)

Standardized column names:
Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

2. Replace state abbreviations with full names
state_mapping = {
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
}
df_customers['state'] = df_customers['state'].replace(state_mapping)

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [3]:
import pandas as pd

# URL of the CSV file
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Read the CSV file into a DataFrame
df_customers = pd.read_csv(url)

# Display the original DataFrame
print("Original DataFrame:")
print(df_customers.head())

# 1. Standardize the 'gender' column
df_customers['gender'] = df_customers['gender'].str.strip().str.lower().replace({
    'female': 'F', 'f': 'F', 'male': 'M', 'm': 'M', 'femal': 'F'
})

# 2. Replace state abbreviations with full names
state_mapping = {
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
}
df_customers['state'] = df_customers['state'].replace(state_mapping)

# 3. Standardize the 'education' column
df_customers['education'] = df_customers['education'].replace('Bachelors', 'Bachelor')

# 4. Remove the '%' character from 'customer_lifetime_value'
df_customers['customer_lifetime_value'] = df_customers['customer_lifetime_value'].str.replace('%', '').astype(float)

# 5. Standardize the 'vehicle_class' column
df_customers['vehicle_class'] = df_customers['vehicle_class'].replace({
    'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'
})

# Display the cleaned DataFrame
print("\nCleaned DataFrame:")
print(df_customers.head())

Original DataFrame:
  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

KeyError: 'gender'

In [11]:
print(df_customers.columns)

Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

In [12]:
import pandas as pd

# Example DataFrame for demonstration (replace with your actual DataFrame)
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'gender': [' Female', 'male ', 'FEMALe'],
    'age': [25, 30, 35]
}

df_customers = pd.DataFrame(data)

# Step 1: Print column names
print("Columns in DataFrame:", df_customers.columns)

# Check if 'gender' column exists
if 'gender' in df_customers.columns:
    # Step 3: Standardize the 'gender' column
    df_customers['gender'] = df_customers['gender'].str.strip().str.lower().replace({
        'female': 'F', 'f': 'F', 'male': 'M', 'm': 'M', 'femal': 'F'
    })
    print("Standardized 'gender' column:\n", df_customers['gender'])
else:
    print("'gender' column is missing in the DataFrame.")

Columns in DataFrame: Index(['name', 'gender', 'age'], dtype='object')
Standardized 'gender' column:
 0    F
1    M
2    F
Name: gender, dtype: object

In [4]:
import pandas as pd

# URL of the CSV file
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'

# Read the CSV file into a DataFrame
df_customers = pd.read_csv(url)

# Display the columns in the DataFrame
print(df_customers.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [13]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer lifetime value': ['1000', '2000', '3000'],
    'Column1': ['1', '2', '3'],
    'Column2': ['1.1', '2.2', '3.3'],
    'Column3': [1, 2, 3]
}

df = pd.DataFrame(data)

# Convert data types
df['Customer lifetime value'] = pd.to_numeric(df['Customer lifetime value'], errors='coerce')
df['Column1'] = df['Column1'].astype('int')
df['Column2'] = df['Column2'].astype('float')
df['Column3'] = df['Column3'].astype('str')

# Verify changes
print(df.dtypes)

Customer lifetime value      int64
Column1                      int32
Column2                    float64
Column3                     object
dtype: object

In [14]:
import pandas as pd

# Sample DataFrame
data = {
    'Number of open complaints': ['1/5/00', '2/3/01', '0/1/02'],
    'Customer lifetime value': ['1000', '2000', '3000']
}

df = pd.DataFrame(data)

# Inspect unique values
unique_values = df['Number of open complaints'].unique()
print("Unique values:", unique_values)

# Extract the middle value and convert to numeric
df['Number of open complaints'] = df['Number of open complaints'].apply(lambda x: int(x.split('/')[1]))

# Verify changes
print(df.dtypes)
print(df)

Unique values: ['1/5/00' '2/3/01' '0/1/02']
Number of open complaints     int64
Customer lifetime value      object
dtype: object
   Number of open complaints Customer lifetime value
0                          5                    1000
1                          3                    2000
2                          1                    3000

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [15]:
import pandas as pd

# Assuming df is your DataFrame
null_counts = df.isnull().sum()
print(null_counts)

Number of open complaints    0
Customer lifetime value      0
dtype: int64

In [16]:
# Drop rows with any null values
df_dropped_rows = df.dropna()

# Drop columns with any null values
df_dropped_columns = df.dropna(axis=1)

In [17]:
# Fill null values with a specific value (e.g., 0)
df_filled = df.fillna(0)

In [19]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer lifetime value': [1000, 2000, None],
    'Number of open complaints': ['1/5/00', '2/3/01', None],
    'Column1': [1, None, 3],
    'Column2': [1.1, 2.2, None]
}

df = pd.DataFrame(data)

# Identify columns with null values
null_counts = df.isnull().sum()
print("Null values in each column:\n", null_counts)

# Drop rows with any null values
df_dropped_rows = df.dropna()
print("\nDataFrame after dropping rows with null values:\n", df_dropped_rows)

# Drop columns with any null values
df_dropped_columns = df.dropna(axis=1)
print("\nDataFrame after dropping columns with null values:\n", df_dropped_columns)

# Fill null values with a specific value (e.g., 0)
df_filled = df.fillna(0)
print("\nDataFrame after filling null values with 0:\n", df_filled)

# Fill null values with the mean of the column
df['Column1'] = df['Column1'].fillna(df['Column1'].mean())
print("\nDataFrame after filling null values in 'Column1' with mean:\n", df)

Null values in each column:
 Customer lifetime value      1
Number of open complaints    1
Column1                      1
Column2                      1
dtype: int64

DataFrame after dropping rows with null values:
    Customer lifetime value Number of open complaints  Column1  Column2
0                   1000.0                    1/5/00      1.0      1.1

DataFrame after dropping columns with null values:
 Empty DataFrame
Columns: []
Index: [0, 1, 2]

DataFrame after filling null values with 0:
    Customer lifetime value Number of open complaints  Column1  Column2
0                   1000.0                    1/5/00      1.0      1.1
1                   2000.0                    2/3/01      0.0      2.2
2                      0.0                         0      3.0      0.0

DataFrame after filling null values in 'Column1' with mean:
    Customer lifetime value Number of open complaints  Column1  Column2
0                   1000.0                    1/5/00      1.0      1.1
1                   2000.0                    2/3/01      2.0      2.2
2                      NaN                      None      3.0      NaN

In [20]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer lifetime value': [1000, 2000, None],
    'Number of open complaints': ['1/5/00', '2/3/01', None],
    'Column1': [1, None, 3],
    'Column2': [1.1, 2.2, None],
    'Column3': ['A', 'B', None]
}

df = pd.DataFrame(data)

# Identify numerical and categorical columns
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [21]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer lifetime value': [1000, 2000, None],
    'Number of open complaints': ['1/5/00', '2/3/01', None],
    'Column1': [1, None, 3],
    'Column2': [1.1, 2.2, None],
    'Column3': ['A', 'B', None]
}

df = pd.DataFrame(data)

# Identify numerical and categorical columns
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Fill null values in numerical columns with the mean
for col in numerical_cols:
    df[col].fillna(df[col].mean(), inplace=True)

# Fill null values in categorical columns with the mode
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Verify changes
print(df)

   Customer lifetime value Number of open complaints  Column1  Column2 Column3
0                   1000.0                    1/5/00      1.0     1.10       A
1                   2000.0                    2/3/01      2.0     2.20       B
2                   1500.0                    1/5/00      3.0     1.65       A

In [23]:
df.fillna(method='ffill', inplace=True)  # 'ffill' stands for forward fill

In [ ]:
df.fillna(method='bfill', inplace=True)  # 'bfill' stands for backward fill

In [25]:



df = pd.DataFrame(data)

# Fill null values with the previous value
df.fillna(method='ffill', inplace=True)

# Alternatively, fill null values with the next value
# df.fillna(method='bfill', inplace=True)

# Verify changes
print(df)

   Customer lifetime value Number of open complaints  Column1  Column2 Column3
0                   1000.0                    1/5/00      1.0      1.1       A
1                   2000.0                    2/3/01      1.0      2.2       B
2                   2000.0                    2/3/01      3.0      2.2       B

In [27]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Initialize IterativeImputer
imputer = IterativeImputer()

# Impute missing values
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

print(df_imputed)

   Customer lifetime value  Number of open complaints    Column1   Column2  \
0              1000.000000                   5.000000   1.000000  1.100000
1              2000.000000                   3.000000  10.590859  2.200000
2              1208.525904                   4.582948   3.000000  1.329378

   Column3
0      0.0
1      1.0
2     -1.0

c:\Users\User\anaconda3\anaconda 4\lib\site-packages\sklearn\impute\_iterative.py:699: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [30]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer': ['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547'],
    'ST': ['Washington', 'Arizona', 'Nevada', 'California', 'Washington'],
    'GENDER': [None, 'F', 'F', 'M', 'M'],
    'Education': ['Master', 'Bachelor', 'Bachelor', 'Bachelor', 'High School or Below'],
    'Customer Lifetime Value': [None, '697953.59%', '1288743.17%', '764586.18%', '536307.65%'],
    'Income': [0.0, 0.0, 48767.0, 0.0, 36357.0],
    'Monthly Premium Auto': [1000.0, 94.0, 108.0, 106.0, 68.0],
    'Number of Open Complaints': ['1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00'],
    'Policy Type': ['Personal Auto', 'Personal Auto', 'Personal Auto', 'Corporate Auto', 'Personal Auto'],
    'Vehicle Class': ['Four-Door Car', 'Four-Door Car', 'Two-Door Car', 'SUV', 'Four-Door Car'],
    'Total Claim Amount': [2.704934, 1131.464935, 566.472247, 529.881344, 17.269323]
}

df = pd.DataFrame(data)

# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Correct data types
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%').astype('float') / 100
df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if pd.notnull(x) else x)

# Handle null values
df['gender'].fillna(df['gender'].mode()[0], inplace=True)
df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean(), inplace=True)

# Verify changes
print(df.dtypes)
print(df)

customer                      object
st                            object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object
  customer          st gender             education  customer_lifetime_value  \
0  RB50392  Washington      F                Master              8218.976475
1  QZ44356     Arizona      F              Bachelor              6979.535900
2  AI49188      Nevada      F              Bachelor             12887.431700
3  WW63253  California      M              Bachelor              7645.861800
4  GA49547  Washington      M  High School or Below              5363.076500

    income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [31]:
import pandas as pd

# Sample DataFrame
data = {
    'Customer': ['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547', 'QZ44356'],
    'ST': ['Washington', 'Arizona', 'Nevada', 'California', 'Washington', 'Arizona'],
    'GENDER': [None, 'F', 'F', 'M', 'M', 'F'],
    'Education': ['Master', 'Bachelor', 'Bachelor', 'Bachelor', 'High School or Below', 'Bachelor'],
    'Customer Lifetime Value': [None, '697953.59%', '1288743.17%', '764586.18%', '536307.65%', '697953.59%'],
    'Income': [0.0, 0.0, 48767.0, 0.0, 36357.0, 0.0],
    'Monthly Premium Auto': [1000.0, 94.0, 108.0, 106.0, 68.0, 94.0],
    'Number of Open Complaints': ['1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00'],
    'Policy Type': ['Personal Auto', 'Personal Auto', 'Personal Auto', 'Corporate Auto', 'Personal Auto', 'Personal Auto'],
    'Vehicle Class': ['Four-Door Car', 'Four-Door Car', 'Two-Door Car', 'SUV', 'Four-Door Car', 'Four-Door Car'],
    'Total Claim Amount': [2.704934, 1131.464935, 566.472247, 529.881344, 17.269323, 1131.464935]
}

df = pd.DataFrame(data)

# Identify duplicate rows
duplicates = df[df.duplicated()]
print("Duplicate Rows:\n", duplicates)

# Drop duplicate rows
df_cleaned = df.drop_duplicates()
print("\nDataFrame after dropping duplicates:\n", df_cleaned)

Duplicate Rows:
   Customer       ST GENDER Education Customer Lifetime Value  Income  \
5  QZ44356  Arizona      F  Bachelor              697953.59%     0.0

   Monthly Premium Auto Number of Open Complaints    Policy Type  \
5                  94.0                    1/0/00  Personal Auto

   Vehicle Class  Total Claim Amount
5  Four-Door Car         1131.464935

DataFrame after dropping duplicates:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington   None                Master                    None
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [32]:


# Drop duplicates, keeping only the first occurrence
df_first = df.drop_duplicates()

# Verify no duplicates remain
print("Duplicates after keeping first occurrence:\n", df_first.duplicated().sum())

# Reset index
df_first.reset_index(drop=True, inplace=True)
print("\nDataFrame after resetting index:\n", df_first)

Duplicates after keeping first occurrence:
 0

DataFrame after resetting index:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington   None                Master                    None
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [33]:
# Drop duplicates, keeping only the last occurrence
df_last = df.drop_duplicates(keep='last')

# Verify no duplicates remain
print("Duplicates after keeping last occurrence:\n", df_last.duplicated().sum())

# Reset index
df_last.reset_index(drop=True, inplace=True)
print("\nDataFrame after resetting index:\n", df_last)

Duplicates after keeping last occurrence:
 0

DataFrame after resetting index:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington   None                Master                    None
1  AI49188      Nevada      F              Bachelor             1288743.17%
2  WW63253  California      M              Bachelor              764586.18%
3  GA49547  Washington      M  High School or Below              536307.65%
4  QZ44356     Arizona      F              Bachelor              697953.59%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1  48767.0                 108.0                    1/0/00   Personal Auto
2      0.0                 106.0                    1/0/00  Corporate Auto
3  36357.0                  68.0                    1/0/00   Personal Auto
4      0.0                  94.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1   Two-Door Car          566.472247
2            SUV          529.881344
3  Four-Door Car           17.269323
4  Four-Door Car         1131.464935

In [34]:
# Drop duplicates based on a subset of columns
df_subset = df.drop_duplicates(subset=['Customer', 'ST'])

# Verify no duplicates remain
print("Duplicates after dropping based on subset:\n", df_subset.duplicated(subset=['Customer', 'ST']).sum())

# Reset index
df_subset.reset_index(drop=True, inplace=True)
print("\nDataFrame after resetting index:\n", df_subset)

Duplicates after dropping based on subset:
 0

DataFrame after resetting index:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington   None                Master                    None
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [35]:
# Drop duplicates based on a specific column
df_column = df.drop_duplicates(subset=['Customer'])

# Verify no duplicates remain
print("Duplicates after dropping based on specific column:\n", df_column.duplicated(subset=['Customer']).sum())

# Reset index
df_column.reset_index(drop=True, inplace=True)
print("\nDataFrame after resetting index:\n", df_column)

Duplicates after dropping based on specific column:
 0

DataFrame after resetting index:
   Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington   None                Master                    None
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [36]:
# Save the cleaned DataFrame to a new CSV file
df_first.to_csv('cleaned_dataset.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [37]:

# data_cleaning.py

import pandas as pd
from sklearn.impute import KNNImputer

def standardize_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

def correct_data_types(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%').astype('float') / 100
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if pd.notnull(x) else x)
    return df

def fill_null_values(df):
    # Fill null values in numerical columns with the mean
    numerical_cols = df.select_dtypes(include=['number']).columns
    for col in numerical_cols:
        df[col].fillna(df[col].mean(), inplace=True)
    
    # Fill null values in categorical columns with the mode
    categorical_cols = df.select_dtypes(include=['object']).columns
    for col in categorical_cols:
        df[col].fillna(df[col].mode()[0], inplace=True)
    
    return df

def handle_duplicates(df, strategy='first'):
    if strategy == 'first':
        df = df.drop_duplicates()
    elif strategy == 'last':
        df = df.drop_duplicates(keep='last')
    elif strategy == 'subset':
        df = df.drop_duplicates(subset=['customer', 'st'])
    elif strategy == 'column':
        df = df.drop_duplicates(subset=['customer'])
    
    df.reset_index(drop=True, inplace=True)
    return df

def main():
    # Sample DataFrame
    data = {
        'Customer': ['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547', 'QZ44356'],
        'ST': ['Washington', 'Arizona', 'Nevada', 'California', 'Washington', 'Arizona'],
        'GENDER': [None, 'F', 'F', 'M', 'M', 'F'],
        'Education': ['Master', 'Bachelor', 'Bachelor', 'Bachelor', 'High School or Below', 'Bachelor'],
        'Customer Lifetime Value': [None, '697953.59%', '1288743.17%', '764586.18%', '536307.65%', '697953.59%'],
        'Income': [0.0, 0.0, 48767.0, 0.0, 36357.0, 0.0],
        'Monthly Premium Auto': [1000.0, 94.0, 108.0, 106.0, 68.0, 94.0],
        'Number of Open Complaints': ['1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00'],
        'Policy Type': ['Personal Auto', 'Personal Auto', 'Personal Auto', 'Corporate Auto', 'Personal Auto', 'Personal Auto'],
        'Vehicle Class': ['Four-Door Car', 'Four-Door Car', 'Two-Door Car', 'SUV', 'Four-Door Car', 'Four-Door Car'],
        'Total Claim Amount': [2.704934, 1131.464935, 566.472247, 529.881344, 17.269323, 1131.464935]
    }

    df = pd.DataFrame(data)

    # Apply data cleaning functions
    df = standardize_column_names(df)
    df = correct_data_types(df)
    df = fill_null_values(df)
    df = handle_duplicates(df, strategy='first')

    # Save the cleaned DataFrame to a new CSV file
    df.to_csv('cleaned_dataset.csv', index=False)
    print("Data cleaning complete. Cleaned dataset saved to 'cleaned_dataset.csv'.")

if __name__ == "__main__":
    main()

Data cleaning complete. Cleaned dataset saved to 'cleaned_dataset.csv'.

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [39]:
# data_cleaning.py

import pandas as pd
from sklearn.impute import KNNImputer

def standardize_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

def correct_data_types(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.rstrip('%').astype('float') / 100
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if pd.notnull(x) else x)
    return df

def fill_null_values(df):
    # Fill null values in numerical columns with the mean
    numerical_cols = df.select_dtypes(include=['number']).columns
    for col in numerical_cols:
        df[col].fillna(df[col].mean(), inplace=True)
    
    # Fill null values in categorical columns with the mode
    categorical_cols = df.select_dtypes(include=['object']).columns
    for col in categorical_cols:
        df[col].fillna(df[col].mode()[0], inplace=True)
    
    return df

def handle_duplicates(df, strategy='first'):
    if strategy == 'first':
        df = df.drop_duplicates()
    elif strategy == 'last':
        df = df.drop_duplicates(keep='last')
    elif strategy == 'subset':
        df = df.drop_duplicates(subset=['customer', 'st'])
    elif strategy == 'column':
        df = df.drop_duplicates(subset=['customer'])
    
    df.reset_index(drop=True, inplace=True)
    return df

def analyze_data(df):
    # Calculate percentiles
    total_claim_75th = df['total_claim_amount'].quantile(0.75)
    clv_25th = df['customer_lifetime_value'].quantile(0.25)
    
    # Filter data
    filtered_df = df[(df['total_claim_amount'] > total_claim_75th) & (df['customer_lifetime_value'] < clv_25th)]
    
    # Calculate summary statistics
    summary_stats = filtered_df[['total_claim_amount', 'customer_lifetime_value']].describe()
    return filtered_df, summary_stats

def main():
    # Sample DataFrame
    data = {
        'Customer': ['RB50392', 'QZ44356', 'AI49188', 'WW63253', 'GA49547', 'QZ44356'],
        'ST': ['Washington', 'Arizona', 'Nevada', 'California', 'Washington', 'Arizona'],
        'GENDER': [None, 'F', 'F', 'M', 'M', 'F'],
        'Education': ['Master', 'Bachelor', 'Bachelor', 'Bachelor', 'High School or Below', 'Bachelor'],
        'Customer Lifetime Value': [None, '697953.59%', '1288743.17%', '764586.18%', '536307.65%', '697953.59%'],
        'Income': [0.0, 0.0, 48767.0, 0.0, 36357.0, 0.0],
        'Monthly Premium Auto': [1000.0, 94.0, 108.0, 106.0, 68.0, 94.0],
        'Number of Open Complaints': ['1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00', '1/0/00'],
        'Policy Type': ['Personal Auto', 'Personal Auto', 'Personal Auto', 'Corporate Auto', 'Personal Auto', 'Personal Auto'],
        'Vehicle Class': ['Four-Door Car', 'Four-Door Car', 'Two-Door Car', 'SUV', 'Four-Door Car', 'Four-Door Car'],
        'Total Claim Amount': [2.704934, 1131.464935, 566.472247, 529.881344, 17.269323, 1131.464935]
    }

    df = pd.DataFrame(data)

    # Apply data cleaning functions
    df = standardize_column_names(df)
    df = correct_data_types(df)
    df = fill_null_values(df)
    df = handle_duplicates(df, strategy='first')

    # Analyze data
    filtered_df, summary_stats = analyze_data(df)
    print("Filtered DataFrame:\n", filtered_df)
    print("\nSummary Statistics:\n", summary_stats)

    # Save the cleaned DataFrame to a new CSV file
    df.to_csv('cleaned_dataset.csv', index=False)
    print("Data cleaning complete. Cleaned dataset saved to 'cleaned_dataset.csv'.")

if __name__ == "__main__":
    main()

Filtered DataFrame:
 Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, policy_type, vehicle_class, total_claim_amount]
Index: []

Summary Statistics:
        total_claim_amount  customer_lifetime_value
count                 0.0                      0.0
mean                  NaN                      NaN
std                   NaN                      NaN
min                   NaN                      NaN
25%                   NaN                      NaN
50%                   NaN                      NaN
75%                   NaN                      NaN
max                   NaN                      NaN
Data cleaning complete. Cleaned dataset saved to 'cleaned_dataset.csv'.